<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.ucp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppWithTransparentStatusBar">
        <activity android:name=".presentation.admin.AddBottlesActivity"></activity>
        <activity android:name=".presentation.admin.AddFragranceActivity" />
        <activity android:name=".presentation.admin.DisplayRequestsActivity" />
        <activity android:name=".presentation.admin.AdminControlActivity" />
        <activity android:name=".presentation.createperfume.PaymentActivity" />
        <activity android:name=".presentation.createperfume.PerfumeDetailsActivity" />
        <activity android:name=".presentation.createperfume.BottleShapeActivity" />
        <activity android:name=".presentation.createperfume.FragranceFamilyActivity" />
        <activity android:name=".presentation.createperfume.NoteConcentrationActivity" />
        <activity android:name=".presentation.createperfume.FragranceConcentration" />
        <activity android:name=".presentation.newbie.NewBieActivity" />
        <activity android:name=".presentation.admin.LoginActivity" />
        <activity android:name=".presentation.MainActivity" />
        <activity
            android:name=".presentation.SplashActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>